<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="A chat application where you can have conversation with your friends online whatsoever." />
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
		<title>GoChat</title>
		<link rel="stylesheet" href="/static/css/index.css" />
	</head>
	<body class="w-full h-[100vh] text-[#1d1d1d] bg-[#E9E9E9]">
		<div id="alert-message"></div>
		<div id="error-message"></div>
		<div id="success-message"></div>
		<div class="flex justify-center items-center w-full h-full">
			<div class="bg-white rounded shadow shadow-black/40 w-[300px] pb-4">
				<div class="flex">
					<div id="login-button" class="select-none font-medium py-2 text-center cursor-pointer w-full border-b border-r border-black/30 bg-[#1d1d1d] text-white rounded-tl transition-all">
						<p>Login</p>
					</div>
					<div id="register-button" class="select-none font-medium py-2 text-center cursor-pointer w-full border-b border-black/30 transition-all duration-300 rounded-tr hover:bg-[#1d1d1d] hover:text-white">
						<p>Register</p>
					</div>
				</div>
				<form hx-post="/register" hx-target="#alert-message" hx-swap="innerHTML" id="register-form" class="px-4 mt-4 hidden">
					<p class="font-medium mb-1">Name</p>
					<input id="name" type="name" name="name" class="outline-none p-2 rounded border border-gray-300 w-full mb-4" />
					<p class="font-medium mb-1">Email</p>
					<input id="email" type="email" name="email" class="outline-none p-2 rounded border border-gray-300 w-full mb-4" />
					<p class="font-medium mb-1">Password</p>
					<input type="password" id="password" name="password" class="outline-none p-2 rounded border border-gray-300 w-full mb-4" />
					<p class="font-medium mb-1">Confirm Password</p>
					<input type="password" id="confirm-password" name="confirm-password" class="outline-none p-2 rounded border border-gray-300 w-full mb-4" />
					<div class="cursor-pointer transition-all font-medium w-full h-[100px] border border-dashed border-gray-300 rounded mb-4 flex items-center justify-center hover:bg-gray-300">
						<svg xmlns="http://www.w3.org/2000/svg" class="w-[22px] h-[22px] mr-1" viewBox="0 0 24 24"><path fill="currentColor" d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2M8.9 13.98l2.1 2.53l3.1-3.99c.2-.26.6-.26.8.01l3.51 4.68a.5.5 0 0 1-.4.8H6.02c-.42 0-.65-.48-.39-.81L8.12 14c.19-.26.57-.27.78-.02"/></svg>
						<p>Upload Profile Picture</p>
					</div>
					<div class="flex justify-end">
						<button type="submit" class="py-2 rounded border border-[#1d1d1d] text-white bg-[#1d1d1d] w-[100px] hover:bg-black">Register</button>
					</div>
				</form>
				<form id="login-form" hx-post="/login" hx-target="#alert-message" hx-swap="innerHTML" class="block px-4 mt-4">
					<p class="font-medium mb-1">Email</p>
					<input id="login-email" name="login-email" type="email" class="outline-none p-2 rounded border border-gray-300 w-full mb-4" />
					<p class="font-medium mb-1">Password</p>
					<input id="login-password" name="login-password" type="password" class="outline-none p-2 rounded border border-gray-300 w-full mb-4" />
					<div class="flex justify-end">
						<button class="py-2 rounded border border-[#1d1d1d] text-white bg-[#1d1d1d] w-[100px] hover:bg-black">Login</button>
					</div>
				</form>
			</div>
		</div>
		<script>
			const getID = id => document.getElementById(id)

			const loginButton = document.getElementById("login-button")
			const registerButton = document.getElementById("register-button")
			const loginForm = document.getElementById("login-form")
			const registerForm = document.getElementById("register-form")

			const activeClass = ["bg-[#1d1d1d]", "text-white"]
			const notActiveClass = ["bg-white", "text-[#1d1d1d]", "hover:bg-[#1d1d1d]", "hover:text-white"]

			loginButton.addEventListener("click", () => {
				registerButton.classList.remove(...activeClass)
				registerButton.classList.add(...notActiveClass)

				loginButton.classList.add(...activeClass)
				loginButton.classList.remove(...notActiveClass)

				registerForm.classList.remove("block")
				registerForm.classList.add("hidden")

				loginForm.classList.remove("hidden")
				loginForm.classList.add("block")
			})

			registerButton.addEventListener("click", () => {
				loginButton.classList.remove(...activeClass)
				loginButton.classList.add(...notActiveClass)

				registerButton.classList.add(...activeClass)
				registerButton.classList.remove(...notActiveClass)

				loginForm.classList.remove("block")
				loginForm.classList.add("hidden")

				registerForm.classList.remove("hidden")
				registerForm.classList.add("block")
			})

			loginForm.addEventListener("htmx:configRequest", e => {
				const email = getID("login-email").value
				const password = getID("login-password").value

				if(!email || !password) {
					e.preventDefault()
					alert("All fields are required.")
					return
				}

				if(password.length < 8) {
					e.preventDefault()
					alert("Password should be 8 characters.")
					return
				}

				if(email.length < 8) {
					e.preventDefault()
					alert("Email should be 8 characters.")
					return
				}
			})

			loginForm.addEventListener("htmx:afterRequest", e => {
				if(!e.detail.successful) return

				history.pushState(null, "", "/home")
				window.location.reload()
			})

			registerForm.addEventListener("htmx:configRequest", e => {
				const name = getID("name").value
				const email = getID("email").value
				const password = getID("password").value
				const confirmPassword = getID("confirm-password").value

				if(!name || !email || !password || !confirmPassword) {
					e.preventDefault()
					alert("All fields are required.")
					return
				}

				if(password !== confirmPassword) {
					e.preventDefault()
					alert("Passwords should be equal")
					return
				}

				if(password.length < 7 || confirmPassword.length < 7) {
					e.preventDefault()
					alert("Password shoud be 7 characters.")
					return
				}

				if(!/^[a-zA-Z ]+$/.test(name)) {
					e.preventDefault()
					alert("Name should be letters and spaces only.")
					return
				}

				if(name.length < 4) {
					e.preventDefault()
					alert("Name should be 8 characters.")
					return
				}

				if(email.length < 8) {
					e.preventDefault()
					alert("Email should be 8 characters.")
					return
				}
			})

			registerForm.addEventListener("htmx:afterRequest", e => {
				if(!e.detail.successful) return

				history.pushState(null, "", "/home")
				window.location.reload()
			})

			document.addEventListener("animationend", e => {
				if(e.animationName === "hide_alert") {
					const alert = document.getElementById("alert")

					alert.parentNode.removeChild(alert)
				}
			})

			document.addEventListener("htmx:responseError", e => {
				const code = e.detail.xhr.status
				
				if(code === 400 || code === 404 || code === 409) document.getElementById("error-message").innerHTML = e.detail.xhr.responseText
			})
		</script>
		<!-- <script src="/static/js/index.js"></script> -->
	</body>
</html>